<div class="uk-container uk-container-center contenido_d">
<p class="uk-h3">
  <strong >Url Original:</strong>
<%= @url.long_url%></p>
</p>

  <p class="uk-h3">
  <strong>Url Corta:</strong>
<%= @url.short_url%></p>


<%= link_to 'Back', "/urls/" ,:class => 'uk-button uk-button-success' %>
</div>
